
/* -------------------------------Header--------------------------------------------*/
.fondoFot{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    overflow:hidden; 
}

.barraHeaderFot {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    margin-top: 3px;
    margin-right: 5px;
    height: 60px;
    display: flex;
    align-items: center;
    margin-left: 6px;
    border-style: solid;
    border-color: rgba(163, 149, 19, 0.8);
    border-width: 1px;
    border-radius: 25px;
    background: radial-gradient(rgba(104, 104, 104, 0.7), rgba(0, 0, 0, .7));
    box-shadow: 0 0 10px rgba(255, 255, 0, 0.9);
}

.divHeader1Fot {
    display: flex;
    align-items: center;
    gap:20px;
}

.logoHeaderFot {
    margin-left: 20px;
    background-image: url(/logofoto.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 48px;
    width: 48px;
    
}

.nombreHeaderFot {
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.divHeader2Fot {
    position: absolute;
    display: flex;
    align-items: center;
    margin-left: 470px;
}

.imaBotonGeneralFot{
    width: 25px;
    height: 25px;
    margin-top: -7px;
    margin-right: 10px;
}

.botonGeneralFot {
    position:relative;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;    
    letter-spacing: 2px; 
    color: white;
    background: radial-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7));
    border-radius: 15px;
    border-color: rgba(163, 149, 19, 0.8);
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 0.8s ease;
    z-index: 1;
}

.botonGeneralFot::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(0deg,
            transparent,
            transparent 30%,
            rgba(255, 255, 255, 0.3));
    transform: rotate(-45deg);
    transition: all 0.5s ease;
    opacity: 0;
}

.botonGeneralFot:hover {
    transform: scale(1.1);
    box-Shadow: 10px 10px 10px rgba(255, 200, 200, .2);
    color: rgba(255, 255, 0, 0.8);
}

.botonGeneralFot:hover::before {
    opacity: 1;
    transform: rotate(-40deg) translateY(100%);
}

/* ------------------------------- footer --------------------------------------------*/

.divFooterFot {
    position: absolute;
    display:flex;
    bottom: 0;
    right: 0;
    margin-left: 0px;
    margin-right: 4px;
    padding-left: 10px;
    width: 99.5%;
    text-align: left;
    color: white;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.8);
    border-width: 1px;
    border-radius: 10px;
    background: radial-gradient(rgba(104, 104, 104, 0.7), rgba(0, 0, 0, .7));
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    gap: 10px;
}

.imgIcoFot{
    width: 25px;
    height: 25px;
}

/* ................   acordeon ..................................... */

.contenedorIndiceFot {
    position: absolute;
    top: 70px;
    margin-left: 10px;
    width: 200px;
    border-style: solid;
    border-color:rgba(163, 149, 19, .9);
    border-width: 2px;
    border-radius: 8px;
    color: white;
    box-Shadow: 10px 10px 10px rgba(104, 104, 104, 0.4);     
}

.contenedorHojaFot {
    position: relative;
    display: grid;   
    margin: 20px;
    row-gap: 10px;
}

#accordion-boton1Fot {
    color: white;
    background: radial-gradient(rgba(104, 104, 104, 0.7), rgba(0, 0, 0, .7));
    outline: 2px ridge rgba(255, 255, 0, 0.4);
}

#accordion-boton1Fot:not(.collapsed)::after {
    background-image: url(/abajo.png);
    scale: 1.4;
}

#accordion-boton1Fot::after {
    background-image: url(/abajo.png);
    scale: 1.4;
}

#accordion-boton1Fot:hover {
    background: radial-gradient(rgba(154, 154, 154, 0.7), rgba(0, 0, 0, .7));
}

#accordion-itemFot {
    background: transparent;
    color: white;
}

.botonAAFot {
    position: relative;    
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.8);
    border-width: 1px;
    border-radius: 8px;
    color:white;
    background: radial-gradient(rgba(104, 104, 104, 0.7), rgba(0, 0, 0, .7));
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 0.8s ease;
    z-index: 1;
}

.botonAAFot:hover {
    transform: scale(1.1);
    font-weight: bold;    
    letter-spacing: 2px;
    box-Shadow: 10px 10px 10px rgba(50, 200, 255, 0.1); 
    color: rgba(255, 255, 0, 0.9);
}


.paginaFot{
    overflow-y: auto;
    display: grid;
    grid-template-columns: 650px 400px;
    grid-template-rows: auto;
    grid-auto-flow: row;
    margin-top: 70px;
    margin-left: 250px;
    margin-right: 10px;
    min-height: 543px;
    max-height: 543px;
    border-style: solid;
    border-color: rgba(163, 149, 19, 0.8);
    border-width: 2px;
    row-gap: 20px;
}

.divImagenFot{
    margin-top: 10px;
    margin-left: 10px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.8);
    border-width: 1px;
    width: 604px;
    height: 404px;
    padding: 2px; 
    box-Shadow: 10px 10px 10px rgba(104, 104, 104, 0.4);
}

.imagenFot{
    width: 600px;
    height: 400px;
}

.divLetraFot{
    margin-top: 10px;
    margin-left: 10px;     
}

.tituloFot{
    color:white; 
    font-size: 26px; 
}

.tituloLetraFot{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    font-size: 20px;      
}

.videoFot{
    width: 600px;
    height: 400px;
}